:root { 
        --foot-color:black
        --menu-text:22px
        --main-text::18px
        --foot-text:15px
        --head-text:20px
        --menu-font: 'Oswald', sans-serif
        --shadow-color: #84817a
        --menu-hover: #f7f1e3
        --back-ground:
    }
    #mob{
        display:none;
    }
    @media screen and (max-width: 800px) {
        .navbar{
            display: none;
        }
        #mob{
            display: block;
            float:right;
            margin-right: 7%;
        }
    }
    body {
        padding-top: 3%;
	height: 100%;
        position: relative;
   	 }
	::-moz-selection { /* Code for Firefox */
  	color: white;
  	background: #202020;
	}
	::selection {
 		color: white;
		background: #202020;
	}
    .Content-wrap {
        position: relative;
        margin-left: 7%;
        margin-right: 7%;
        z-index: 0;
    }
    .mininews{
        margin-left: 7%;
        margin-right: 7%;
        z-index: 0;
    }
    h1, h2, h3, h4, h5 {
        font-family: 'Oswald', sans-serif;
        font-weight: lighter;
    }

    p, span, ul {
        font-family: 'Oswald', sans-serif;
        font-variation-settings: 'wght' 300;
        font-weight: lighter;
    }

    .navbar {
        position: fixed;
        width: 100%;
        background-color: white;
        top: 0;
        z-index: 1;
        padding-left: 6%;
        left: 0;
    }
    .navbar a {
        width: 10%;
        float: left;
        color: black;
        text-align: center;
        padding: 1%;
        text-decoration: none;
        font-family: 'Oswald', sans-serif !important;
    }    
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    .slide {
    display:none;
    style = "width:100%";
    }
    .border{
        padding-left:5%
    }
    .head{
        
    }
    .Ontsloh {
        position: relative;
        max-width: 100%;
        max-height: auto;
    }

    .pieceOfOntsloh {
        float: left;
        width: 50%;
        margin-bottom: 2rem;
    }

    .headerArticle {
        position: relative;
        width: 100%;
        height: auto;
        text-align: left;
        padding-bottom: 1rem;
    }

    .SectionOfMovies {
        position: relative;
        width: 100%;
        height: auto;
    }
    
    .ContainerOfMovie {
        position: relative;
        width: 50%;
        float: left;    
    }
    .ContainerOfMovie img {
        border-radius: 0.5rem;
        object-fit: cover;        
    }
    .text1 {
        position: absolute;
        transform: translate(0px, 140px);
        margin: 10px;
        opacity: 0;
        transition: 0.6s ease-in-out;
    }
    .text2 {
        position: absolute;
        transform: translate(0px, 165px);
        margin: 10px;
        opacity: 0;
        transition: 0.6s ease-in-out;
    }

    .UpAndLight {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        height: auto;
        transition: 0.6s ease-in-out;
        z-index: -1;
    }
    .ContainerOfMovie:hover .UpAndLight {
        opacity: 0.3;
        transform: translate(0px, -20px);
        box-shadow: 0px 20px 10px black;
    }
    .ContainerOfMovie:hover .text1 {
        opacity: 1;
    }
    .ContainerOfMovie:hover .text2 {
        opacity: 1;
    }
    @media (min-width: 100px) and (max-width: 900px) {
        .slideshow-container {
            max-height: 15rem;
        }
        .ContainerOfMovie:hover .text2 {
            opacity: 1;
        }
        .ContainerOfMovie:hover .text1 {
            opacity: 1;
            transform: translate(0px, -1rem);
        }
        .SectionOfMovies {
            max-height: 5rem;
        }
        .text2 {
            display: none;
        }
        .mySlides {
            max-height: 10rem;
            max-width: inherit;
        }
        .mySlides img {
            max-width: 100%;
            max-height: 5rem;
        }
        
        /* Slideshow container */
        .slideshow-container {
          max-width: 100%;
          max-height: 10rem;
        }
    }

    .mySlides {
        display: none;
        position: relative;
        max-height: 30rem;
        max-width: inherit;
    }
    .mySlides img {
        vertical-align: middle; 
        position: relative;
        overflow: hidden;
        max-width: 100%;
        max-height: 30rem;
        object-fit: cover;
    }
    
    /* Slideshow container */
    .slideshow-container {
      max-width: 100%;
      max-height: 30rem;
      z-index: -1;
      position: relative;
      margin: auto;
    }
    
    /* Caption text */
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: relative;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }
    
    .active {
      background-color: #717171;
    }
    
/* footer css jimmy */
/*html{
    width:100%;
}*/
/* 
.kagebunshino{
    position: absolute;
    bottom: 0;
    width: 100vw;
    margin-top: 25hv;
    margin-left: -8px;
    height: 25vh;
    background-color: black;
    color: #ffffff;
}
.inner-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
*/

.kagebunshino{
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100vw;
    margin-left: -8px;
    height: 24vh;
    background-color: #000000;
    color: #ffffff;
    padding-top: 20px;
}

.inner-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inner-container .sasuke + .sasuke {
    margin-top: 20px;
}
.first {
    height: 30%;
}
.first img {
    height: 100%;
}
.second {
    height: 25%;
    display: flex;
    flex-direction: row;
}
.second div + div {
    margin-left: 20px;
}
.second a {
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.third {
    height: 25%;
    display: flex;
    flex-direction: row;
}
.third .social-icon-con + .social-icon-con {
    margin-left: 15px ;
}
.social-icon {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}
.social-icon-con {
    width: 35px; 
    height: 35px;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon-con:hover .social-icon {
    color: #000000;
}
.social-icon-con:hover {
   
    background-color: #fff;
    transition: 0.3s;
    transform: scale(1.3);
}
.last {
    height: 25%;
    font-size: 11px;
    color: #8d8b8b;
    font-family: 'Open Sans', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.last span {
    margin-right: 20px;
}
.second a:hover {
color: #75fffd;
transition: 0.3s;
}
/* programm */
.program-con a{
    text-decoration: none;
    float: left;
    margin-left: 2rem;
    margin-right: 2rem;
    list-style: none;
    font-family: 'Oswald', sans-serif;
    font-variation-settings: 'wght' 300;
    font-weight: lighter; 
    color: #000000;
    margin-bottom: 2rem;
}
.program-con {
    margin-bottom: 2rem;
}
/* live */
.live {
    margin-left: 27%;
    margin-bottom: 20px;
    
}




    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }

.clock{
    width:10px;
    height:10px;
}
.ontslohMedee a{
    display:inline;
}
.ontslohMedee{
    display:inline;
}
table:not(.table) {
    width: 100%!important;
    margin: 10px 0;
    border-spacing: 0;
    border-color: #999;
    }
table td{
    border: 1px solid #eee;
    font-family: 'Oswald', sans-serif;
    font-variation-settings: 'wght' 300;
    font-weight: lighter;
    }
table tr:nth-child(odd) {
    background-color: #f2f2f2;
    }
table tr td:first-child{
    font-weight: 700;    
    }@media (min-width: 1200px) { 
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
    }
    @media (max-width: 767.98px) {
    } 
=======
    /* Mobile Menu */
	.topnav{
		display:none;
			}
@media screen and (max-width: 800px) {
.topnav {
display:block;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
}

   /* content.html heseg */
    .Nevtruuleg {
        position: relative;
        width: 100%;
        height: 8rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-image: url("content-background.webp");
        background-size: cover;
        color: white;
        margin-bottom: 3%;
    }
    .Nevtruuleg h2 {
        position: relative;
        margin-left: 7%;
    }
    .Nevtruuleg p {
        position: relative;
        margin-left: 7%;
    }

    .NevtruulegCard-right {
        position: relative;
        clear: both;
        width: 100%;
        margin-bottom: 3%;
        margin-top: 3%;
        float: left;
        text-align: justify;
    }

    .NevtruulegCard-left {
        position: relative;
        clear: both;
        width: 100%;
        height: auto;
        margin-bottom: 3%;
        margin-top: 3%;
        float: left;
        text-align: justify;
    }

    .NevtruulegCard-right img {
        width: 49%;
        height: auto;
        object-fit: cover;
        margin-left: 2%;
        float: right;
    }
    .NevtruulegCard-left img {
        width: 49%;
        height: auto;
        object-fit: cover;
        margin-right: 2%;
        float: left;
    }

    .NevtruulegCard-right .TopText {
        position: relative;
        width: 48%;
        float: left;
    }
    .NevtruulegCard-right .BottomText {
        position: relative;
        width: 48%;
        float: left;
    }
    .NevtruulegCard-left .TopText {
        position: relative;
        width: 49%;
        float: right;
    }
    .NevtruulegCard-left .BottomText {
        position: relative;
        width: 49%;
        float: right;
    }
    .NevtruulegCard-left p {
        text-indent: 3rem;
    }
    .NevtruulegCard-right p {
        text-indent: 3rem;
    }
    form input {
        width: 100%;
        height: 1rem;
    }
    @media screen and (max-width: 800px) {
        .NevtruulegCard-right img {
            margin: 0%;
            width: 100%;
            float: left;
            clear: both;
        }
        .NevtruulegCard-left img {
            margin: 0%;
            width: 100%;
            float: left;
            clear: both;
        }
        .NevtruulegCard-right .TopText {
            margin: 0%;
            width: 100%;
            float: left;
            clear: both;
        }
        .NevtruulegCard-right .BottomText {
            margin: 0%;
            width: 100%;
            float: left;
            clear: both;
        }
        .NevtruulegCard-left .TopText {
            margin: 0%;
            width: 100%;
            float: left;
            clear: both;
        }
        .NevtruulegCard-left .BottomText {
            margin: 0%;
            width: 100%;
            float: left;
            clear: both;
        }
    }

    /* Live heseg */
    .Live {
        position: sticky;
        overflow:hidden;
        height:100%;
        width:100%;
        border-radius: 0.5rem;
    }
    .Live iframe {
        overflow:hidden;
        height:30rem;
        width:100%;
    }

    /* Medee heseg */
    .ontslohMedee {
        position: relative;
        width: 100%;
        height: auto;
        margin-bottom: 3%;
        float: left;
        text-align: justify;
    }
    .Ontsloh-zurag {
        float: left;
        width: 49%;
        height: auto;
        object-fit: cover;
    }
    .Ontsloh-zurag img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 0.5rem;
        transition: 0.6s ease-in-out;
    }
    .Ontsloh-zurag h2 {
        text-align: center;
        transition: 0.7s ease-in-out;
    }
    .Ontsloh-zurag p {
        text-indent: 3rem;
        transition: 0.7s ease-in-out;
    }
    #o1 {
        margin-right: 1%;
    }
    #o2 {
        margin-left: 1%;
    }
    .Ontsloh-text {
        margin-left: 2%;
        position: absolute;
        width: 45%;
        transform: translateY(-150%);
        opacity: 0;
    }
    .Ontsloh-zurag:hover img {
        opacity: 0.3;
        transform: translate(0px, -20px);
        box-shadow: 0px 20px 10px black;
    }
    .Ontsloh-zurag:hover .Ontsloh-text {
        transition: 0.7s ease-in-out;
        opacity: 1;
    }

    /*Medee medeelliin heseg*/
    .MedeeMedeelel {
        position: relative;
        width: 100%;
        height: auto;
        background-color: peachpuff;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .MedeeCard {
        width: 24%;
        height: auto;
        position: relative;
        float: left;
        margin-left: 2%;
        margin-right: 2%;
    }

    .MedeeniiZurag {
        position: relative;
        object-fit: cover;
        border-radius: 0.3;
        width: 100%;
        height: auto;
        clear: both;
    }

    .MedeeniiBody {
        position: relative;
        width: 100%;
        height: auto;
        clear: both;
    }

    .MedeeniiTitle {
        clear: both;
        
    }

    .MedeeniiBody img {
        position: relative;
        float: left;
        width: 1rem;
        height: auto;
        object-fit: cover;
        background-color: #75fffd;
    }

    .MedeeniiOgnoo {
        width: 50%;
        height: auto;
        float: right;
        background-color: #000000;
    }

    .MedeeniiTovchTailbar {
        clear: both;

    }
    /*Medee medeelliin heseg*/
    .MedeeMedeelel {
        position: relative;
        width: 100%;
        height: auto;
        background-color: peachpuff;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .MedeeCard {
        width: 24%;
        height: auto;
        position: relative;
        float: left;
        margin-left: 2%;
        margin-right: 2%;
    }

    .MedeeniiZurag {
        position: relative;
        object-fit: cover;
        border-radius: 0.3;
        width: 100%;
        height: auto;
        clear: both;
    }

    .MedeeniiBody {
        position: relative;
        width: 100%;
        height: auto;
        clear: both;
    }

    .MedeeniiTitle {
        clear: both;
        
    }

    .MedeeniiBody img {
        position: relative;
        float: left;
        width: 1rem;
        height: auto;
        object-fit: cover;
        background-color: #75fffd;
    }

    .MedeeniiOgnoo {
        width: 50%;
        height: auto;
        float: right;
        background-color: #000000;
    }

    .MedeeniiTovchTailbar {
        clear: both;

    }
    /*Medee medeelliin heseg*/
    .MedeeMedeelel {
        position: relative;
        width: 100%;
        height: auto;
        background-color: peachpuff;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .MedeeCard {
        width: 24%;
        height: auto;
        position: relative;
        float: left;
        margin-left: 2%;
        margin-right: 2%;
    }

    .MedeeniiZurag {
        position: relative;
        object-fit: cover;
        border-radius: 0.3;
        width: 100%;
        height: auto;
        clear: both;
    }

    .MedeeniiBody {
        position: relative;
        width: 100%;
        height: auto;
        clear: both;
    }

    .MedeeniiTitle {
        clear: both;
        
    }

    .MedeeniiBody img {
        position: relative;
        float: left;
        width: 1rem;
        height: auto;
        object-fit: cover;
        background-color: #75fffd;
    }

    .MedeeniiOgnoo {
        width: 50%;
        height: auto;
        float: right;
        background-color: #000000;
    }

    .MedeeniiTovchTailbar {
        clear: both;

    }
    /*Medee medeelliin heseg*/
    .MedeeMedeelel {
        position: relative;
        width: 100%;
        height: auto;
        background-color: peachpuff;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .MedeeCard {
        width: 24%;
        height: auto;
        position: relative;
        float: left;
        margin-left: 2%;
        margin-right: 2%;
    }

    .MedeeniiZurag {
        position: relative;
        object-fit: cover;
        border-radius: 0.3;
        width: 100%;
        height: auto;
        clear: both;
    }

    .MedeeniiBody {
        position: relative;
        width: 100%;
        height: auto;
        clear: both;
    }

    .MedeeniiTitle {
        clear: both;
        
    }

    .MedeeniiBody img {
        position: relative;
        float: left;
        width: 1rem;
        height: auto;
        object-fit: cover;
        background-color: #75fffd;
    }

    .MedeeniiOgnoo {
        width: 50%;
        height: auto;
        float: right;
        background-color: #000000;
    }

    .MedeeniiTovchTailbar {
        clear: both;

    }
    /*Medee medeelliin heseg*/
    .MedeeMedeelel {
        position: relative;
        width: 100%;
        height: auto;
        background-color: peachpuff;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .MedeeCard {
        width: 24%;
        height: auto;
        position: relative;
        float: left;
        margin-left: 2%;
        margin-right: 2%;
    }

    .MedeeniiZurag {
        position: relative;
        object-fit: cover;
        border-radius: 0.3;
        width: 100%;
        height: auto;
        clear: both;
    }

    .MedeeniiBody {
        position: relative;
        width: 100%;
        height: auto;
        clear: both;
    }

    .MedeeniiTitle {
        clear: both;
        
    }

    .MedeeniiBody img {
        position: relative;
        float: left;
        width: 1rem;
        height: auto;
        object-fit: cover;
        background-color: #75fffd;
    }

    .MedeeniiOgnoo {
        width: 50%;
        height: auto;
        float: right;
        background-color: #000000;
    }

    .MedeeniiTovchTailbar {
        clear: both;

    }
    /*Medee responsive heseg*/
    @media (min-width: 100px) and (max-width: 900px) {
        .Ontsloh-zurag {
            width: 100%;

        }
        .Ontsloh-text {
            margin-left: 1%;
            position: absolute;
            width: 98%;
            transform: translateY(-110%);
        }
        #o1 {
            margin-right: 0;
        }
        #o2 {
            margin-left: 0;
        }
    }
    @media (min-width: 900px) and (max-width: 1200px) {
        .Ontsloh-zurag {
            width: 49%;
        }
        .Ontsloh-text {
            margin-left: 1%;
            position: absolute;
            width: 47%;
            transform: translateY(-105%);
        }
    }

	    
	    


